{% extends 'course/index.html' %}

{% block nav %}
{% include 'course/topbarcourse.html' %}
{% endblock %}
{% block col %}

{% block p %}
<div class="container mx-auto px-4 py-8">
    <div class="grid grid-cols-6 gap-4">
        {% block bg %}
        <div class="col-start-2 col-span-4 relative">
            <img src="https://png.pngtree.com/thumb_back/fh260/background/20200731/pngtree-blue-carbon-background-with-sport-style-and-golden-light-image_371487.jpg"
                alt="" class="w-[1000px] h-[240px] rounded-lg">
            <div class="absolute bottom-2 left-2 p-4 rounded-br-lg">
                <p class="text-white text-4xl">{{ c.title }}</p>
                <p class="text-white text-xl">{{ c.id }}</p>
            </div>
        </div>
        <div class="col-start-2 col-end-3">
            <div class="max-w-sm rounded overflow-hidden border border-gray-300 mt-2">
                <div class="px-6 py-4">
                    <img src="https://www.logo.wine/a/logo/Google_Meet/Google_Meet-Logo.wine.svg" alt=""
                        class="h-[28px] float-left">
                    <span class="text-lg text-bold">Meet</span><br><br>
                    <button class="py-1 px-16 rounded text-white mb-0 mr-0 ml-2 bg-black">เข้าร่วม</button>
                </div>
            </div>
            <div class="max-w-sm rounded overflow-hidden border border-gray-300 mt-2">
                <div class="px-6 py-4">
                    <span class="text-[18px] text-bold">เร็วๆ นี้</span><br><br>
                    <span class="text-sm text-gray-500">ดีจัง ไม่มีงานที่ใกล้ครบกำหนด</span><br><br>
                    <button class="py-2 px-1 rounded mb-0 mr-0 float-right hover:bg-gray-100">ดูทั้งหมด</button><br>
                </div>
            </div>
        </div>
        <div class="col-end-6 col-span-3">
            <div class="max-w rounded overflow-hidden border border-gray-300 hover:bg-gray-100 mt-2">
                <div class="px-6 py-4">
                    <span class="text-lg text-bold">{{ c.description }}</span>
                </div>
            </div>
            <div class="max-w rounded overflow-hidden border border-gray-300 hover:bg-gray-100 mt-2">
                <div class="px-6 py-4">
                    <span class="text-lg text-bold">Descriptions</span>
                </div>
            </div>
        </div>
        {% endblock %}
    </div>
</div>
{% endblock %}

{% endblock %}